
<head>
  <title>ProjectManager</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script>
  	UPLOADCARE_PUBLIC_KEY ="7683b25bc19392d6bb5b";
  </script>




</head>

<body>
	<nav class="nav-extended">
		<div class="container">
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">ProjectManager</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li class="nav-item">
					  	{{> loginButtons }} 
					</li>
				</ul>
			</div>
		</div>
	</nav>
	
    <div class="container">
    	{{#if currentUser}}
	    	{{>add_project}}
	    	<script>
			  	$(document).ready(function(){
			    $('.modal').modal();
			  });
			</script>
			<h1>List of Projects <a class="btn-floating btn-large waves-effect waves-light red modal-trigger" href="#addProjectModal"><i class="material-icons">add</i></a></h1>
    		<ul class="collection">
    			{{#each projects}}   
    				{{> project_list}}	 
    			{{/each}}
    		</ul>
    	{{else}}
		 	<p class="flow-text">Please log in to manage projects</p>

    	{{/if}}
    </div>
</body>

<template name="add_project">
	<div id = "addProjectModal" class="modal">
		<div class="modal-content">
			<form id="addProjectModal" class="project_informationForm">
				<div class="input-field">
					<input placeholder="Project Title" id="project_title" type="text" class="validate" maxlength="100" required>
					<label>Project Title</label>
				</div>
				<div class="input-field">
					<input placeholder="Project Description" id="project_description" type="text" class="validate" maxlength="100" required>
					<label>Project Description</label>
				</div>
				<div class="input-field">
					<input placeholder="Subject MRN" id="subject_mrn" type="text" class="validate" maxlength="100" required>
					<label>Subject MRN</label>
				</div>
				<div>
					<label>DoB</label>
					<input type="date" class="datepicker" id="dob" required>
				</div>
				<div class="input-field">
					<input placeholder="Pathology Number" id="pathology_number" type="text" class="validate" maxlength="100" required>
					<label>Pathology Number</label>
				</div>
				<div class="input-field">
					<input placeholder="Comment" id="comment" type="text" class="validate" maxlength="100" required>
					<label>Comment</label>
				</div>
				<div >
					<label>Read File Type</label>
					<p>
					   <input name="group1" type="radio" id="single_end" value="single-end" required/>
	  					<label for="single_end">Single End</label>
		  				<input name="group1" type="radio" id="paired_end" value="paired-end"  required/>
	  					<label for="paired_end">Paired End</label>
				  	</p>
				</div>
				<div>
					<p>
						<label>Data Upload</label>
			  			<input id="picture2" type="hidden" role="uploadcare-uploader" name="my_file" >
					</p>
		  		</div>
		  		<div>
		  			<p>
			  			<button class="btn waves-effect waves-light" type="submit" name="action">Add Project
				    	<i class="material-icons right">send</i>
				    	</button>
				    	<a href="#!" class="modal-close waves-effect waves-light btn red">Cancel</a>
				    </p>
		  		</div>
			</form>
    </div>
</div>
</template>

<template name="project_list">

	
	<li class="collection-item avatar">
		<img src="{{project_picture}}" alt="" class="circle">
		<span class="title"><h3>Project Title : {{project_title}}</h3></span>
	      <div class="card-panel">
		      <h4><span class="blue-text text-darken-2">Project Description : </span></h4>
		      <p class="flow-text">{{project_description}}</p>
	  	  </div>
	  	  <div class="card-panel">
		      <h4><span class="blue-text text-darken-2">Subject MRN :</span></h4>
		      <p class="flow-text">{{subject_mrn}}</p>
		  </div>
		  <div class="card-panel">		
		      <h4><span class="blue-text text-darken-2">Date of Birth : </span></h4>
		      <p class="flow-text">{{project_dob}}</p>
	  	  </div>
	  	  <div class="card-panel">
		      <h4><span class="blue-text text-darken-2">Pathology Number : </span></h4>
		      <p class="flow-text">{{pathology_number}}</p>
		  </div>
		  <div class="card-panel">
		      <h4><span class="blue-text text-darken-2">Comment : </span></h4>
		      <p class="flow-text">{{project_comment}}</p>
		  </div>
		  <div class="card-panel">
		      <h4><span class="blue-text text-darken-2">Read File Type : </span></h4>
		      <p class="flow-text">{{read_file_type}}</p>
		  </div>
		  <div class="card-panel">
		      <h4><span class="blue-text text-darken-2">Project Picture : </span></h4>
		      <p class="flow-text"><a target="_blank" href="{{project_picture}}">{{project_picture}}</a></p>
		  </div>
		<a href="#" class="delete-note  btn red ">Delete</a>  	
	</li>
</template>